.parent-login-container {
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-vector%2Fcartoon-background-with-empty-classroom-interior-inside_2669611.htm&psig=AOvVaw0ehBUZSss28KsT02W83EkZ&ust=1637688995938000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICDwIrBrPQCFQAAAAAdAAAAABAJ");
  background-size: cover;
  background-repeat: no-repeat;
}
